body{
    align-items: center;
    background-color:rgb(26 15 83);
    line-height: 1.6;

}

img{
    size:150px 150px;
}
.nav{
    padding-top: 0px;
    color: #575353;
    z-index: 2;

}
main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;                                                                                                                                                                                             
    width: 100%; 
    align-items: center;
    margin-top: 15px;
     
}
.login-container {
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 20px;
    width: 100%; 
    max-width: 400px;
    height:420px ;
    padding: 30px;
    margin: 0 auto;
    background-color: #f1f2e7; ;
    border: 4px solid #a6b8f9; 
    border-radius: 10px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
h1{
    text-align: center;
    color: #0c022b;
    margin:0px
}
.login-form{
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: center !important;
    padding-bottom: 20px;
}
.login-form label {
    padding: 4px;
    display: flex !important;
    margin-bottom: 3px;
    font-weight: bold;
    align-items: center;
    color: rgb(4, 0, 44);
}
.passerror {
    size: 10px;
    margin: 4px 0 0 0;
    text-align: right;
    color: #d11124;
}
.wrong{
    size: 10px;
    margin: 4px 0 0 0;
    text-align: right;
    color: #d11124;
}
.login-form button{
    border-color:rgb(3, 2, 45);
    background-color: rgb(26 15 83);
    padding: 10px 50px;
    border-radius: 5px;
    gap: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    color: aliceblue;
}
#showPassword{
    width:8px;
    display: flex;
    align-self: center;
    padding-top: 2px;
}
input{
    border-radius:5%;
    border-style:solid;
    cursor: pointer;
    font-size: 1 rem;
    font-weight: 40;
    position: relative;
    z-index: 1;
    height: 10px;
    width: 200px;
    padding: 12px 12px 6px!important;
    color: var(--color-text, rgba(0, 0, 0, 0.9)) !important;
    border-radius: 5px !important;

}
#showPassword{
    size:3px;
    padding:0px;
}
h4{
    padding-right: 20px;
    color:rgb(174, 185, 194);    
    border-color: black;
    margin: 10px;
}
.contact-form button:hover {
    background-color: #575353;
     
}

a{
    color: #0025f9;
}